@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #636563;
	background-image: url(images/body_bg.png);
	background-repeat: repeat-x;
	margin-top: 18px;
	background-attachment: fixed;
}
#wrap {
	margin: auto;
	width: 920px;
	background-color: #FFFFFF;
	padding-top: 16px;
	padding-right: 14px;
	padding-left: 14px;
	padding-bottom: 16px;
}
#smallwrap {
	margin: auto;
	width: 400px;
	background-color: #FFFFFF;
	padding: 16px;
}
#header {
	float: left;
	width: 390px;
	margin-bottom: 20px;
}
#header h1 {
	font-size: 36px;
	margin: 0px;
	padding: 0px;
	color: #CFCFCF;
}
#header h2 {
	font-size: 18px;
	color: #CFCFCF;
	margin: 0px;
	padding: 0px;
}
#header h3 {
	font-size: 12px;
	letter-spacing: -1px;
	margin: 0px;
	padding-left: 10px;
	font-weight: normal;
	color: #999999;
}
#header h3 a {
	font-weight: bold;
	color: #2AABE1;
	text-decoration: none;
}
#logininfo {
	float: right;
	width: 360px;
	text-align: right;
}
#logininfo a {
	font-weight: bold;
	color: #2AABE1;
	text-decoration: none;
}
#navbar {
	width: 920px;
	float: left;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#navbar ul {
	margin: 0;
	padding: 0;
}
#navbar li {
	list-style: none;
	float: left;
}
#navbar li a {
	display: block;
	width: auto;
	color: #666666;
	text-decoration: none;
	margin-right: 4px;
	font-size: 11px;
	background-color: #FFFFFF;
	font-weight: bold;
	letter-spacing: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	padding: 2px;
}
#navbar li a:hover {
	color: #2AABE1;
	background-color: #FFFFCC;
}
#navbar div {
	position: absolute;
	visibility: hidden;
	margin-top: 2px;
	border: 1px solid #CCCCCC;
	background-color: #666666;
}
#navbar div a {
	font-size: 10px;
	margin: 0px;
	border: 1px solid #FFFFFF;
	font-weight: normal;
	padding: 4px;
}
#navbar div a:hover {
	color: #FFFFFF;
	background-color: #666666;
}
#content {
	clear: both;
}
#content h1 {
	font-size: 18px;
	letter-spacing: -1px;
	width: 94%;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 4px;
}
#content h2 {
	font-size: 14px;
	letter-spacing: -1px;
	width: 94%;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #F0F0F0;
	padding: 4px;
	border: 1px solid #CCCCCC;
}
.entrytext {
	font-family: Arial, Helvetica, sans-serif;
	width: 90%;
	padding: 4px;
	border: 1px solid #2AABE1;
	font-size: 12px;
	color: #666666;
}
.entrytext:hover {
	background-color: #FFFFCC;
}
.entrybox {
	height: 200px;
	width: 92%;
	padding: 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	overflow: auto;
}
.fulltable {
	width: 98%;
	margin-bottom: 20px;
}
.firstcell {
	width: 36%;
	font-weight: bold;
}
.firstcell a {
	font-size: 10px;
	text-decoration: none;
	color: #2AABE1;
}
.halftopcell {
	vertical-align: top;
	width: 50%;
}
.tabletop {
	color: #FFFFFF;
	background-color: #666666;
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-size: 12px;
}
.tablelist {
	vertical-align: top;
}
.tablelist:hover {
	background-color: #FFFFCC;
}
.tablerowborder {
	padding: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.tablerowborder a {
	text-decoration: none;
	color: #2AABE1;
}
.iconspacer {
	margin-right: 4px;
	margin-left: 2px;
	border: 0px none #FFFFFF;
}
.smalltext {
	font-size: 10px;
}
.topalign {
	vertical-align: top;
}
.justred {
	color: #FF7878;
	font-size: 13px;
	letter-spacing: -1px;
}
.smallredtext {
	font-size: 10px;
	color: #FF0000;
}
.tooltip {
	position:absolute;
	visibility:hidden;
	padding:8px;
	width: 260px;
	font-size: 11px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}
#results {
	width:auto;
	display:none;
	position: absolute;
	background-color: #FFFFFF;
	padding: 4px;
	border: 1px solid #2AABE1;
	margin-top: 2px;
}
#results ul {
	padding:0;
	margin:0;
}
#results li {
	border:0;
	list-style:none;
}
#results li a {
	display:block;
	padding:4px;
	text-decoration:none;
	color:#636563;
	font-weight:bold;
	font-size: 10px;
}
#results li a:hover {
	color: #FFFFFF;
	background-color: #666666;
}
#floatingdiv {
	position: absolute;
	background-color: #FFFFCC;
	border: 1px solid #636563;
	width: 180px;
	padding: 8px;
	font-size: 11px;
}
#floatingdiv a {
	color: #2AABE1;
	text-decoration: none;
}
#map_canvas {
	height: 320px;
	width: 100%;
}
.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	background-color: #FFFFFF;
	border: 1px solid #666666;
	font-weight: bold;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	margin-top: 8px;
}
.button:hover {
	background-color: #FFFFCC;
}
.lastcell {
	width: 14%;
	text-align: center;
}
.credits a {
	color: #CCCCCC;
	text-decoration: none;
}
